<div class="container mt-4">
    <div class="card bg-body-tertiary p-2 text-center">
        <div class="d-flex gap-2">
            <span class="d-inline-flex px-2 py-1 fw-semibold  bg-success-subtle border border-success-subtle rounded-2">Page: {{appStateService.productState.totalPageCount}}</span>

            <span class="d-inline-flex px-2 py-1 fw-semibold  bg-warning-subtle border border-warning-subtle rounded-2">Size: {{appStateService.productState.pageSize}}</span>

            <span class="d-inline-flex px-2 py-1 fw-semibold  bg-info-subtle border border-info-subtle rounded-2">Total: {{appStateService.productState.productsCount}}</span>

            
            <span class="d-inline-flex px-2 py-1 fw-semibold  bg-danger-subtle border border-danger-subtle rounded-2">Checked: {{getCheckedProductCount}}</span>
        </div>
    </div>
  </div>
  